/* the --color-header and others are CSS variables, which we access later. 
*/
/* some styling adapted from W3 schools.  */

HTML {
    --color-header: #290101;
    /* color for H1-H6 and others. was deepskyblue but poor contrast. */
    --color-hilite: #b50000;
    /* was red, but this avoids WAVE contrast errors */
    --color-focus: #a6cd4e;
    --color-nice: #5673dc;
    --color-nice2: #2a5c99;
    font-family: Avantgarde, sans-serif
}

/* For flashed messages; make them stand out using red and italics */

#messages {
    color: var(--color-nice2);
    font-style: italic;
}

body {
    margin: 30px;
}

h1 {
    font-size: 200%;
    color: var(--color-header);
}

h2,
h3 {
    color: var(--color-nice);
}

/* for a simple navbar. Talk to Scott if you want drop-downs. */
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 12px;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav>ul>li a:hover {
    background-color: #111;
}

#search-bar {
    float: right;
    margin: 2%
}

.post {
    background: whitesmoke;
    width: 600px;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 60px;
    border-width: 2px;
    border-style: solid;
    padding: 2%;
    border-radius: 12px;
}

.post-title {
    font-size: larger;
}

.post-title .posted-by .post-time {
    padding: 15px;
    margin: 30px;
}

#loggedin-msg {
    float: top;
    border: #111;
    margin: 2px;
}

#welcome-msg {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    border-width: 2px;
    border-style: solid;
    padding: 2%;
    border-radius: 12px;
    background: whitesmoke;
}

#profile {
    border-width: 2px;
    border-style: solid;
    padding: 2%;
    border-radius: 12px;
    background: whitesmoke;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.comment {
    margin: 20px auto;
    border-width: 2px;
    border-style: solid;
    padding: 2%;
    width: 50%;
    position: relative;
    margin-right: auto;
    margin-left: 0;
    border-radius: 12px;
}

.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}

.comment-info {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.comment-author {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    text-decoration: none;
}

.post-page {
    margin: 20px auto;
    border-width: 2px;
    border-style: solid;
    padding: 2%;
    width: 50%;
    position: relative;
    margin-right: auto;
    margin-left: 0;
    border-radius: 12px;
    background: whitesmoke;
}

.post-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}

.post-info {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.postpage-title {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    text-decoration: none;
}

.post-contents {
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
    padding: 5%;
    margin: 2%
}

#all-messages {
    border-width: 2px;
    border-style: solid;
    padding: 2%;
    border-radius: 12px;
    background: whitesmoke;
    margin: 2%
}

.message {
    border-width: 2px;
    border-style: solid;
    padding: 2%;
    border-radius: 12px;
    background: whitesmoke;
    margin: 2%
}

#conversation {
    border-width: 2px;
    border-style: solid;
    padding: 2%;
    border-radius: 12px;
    background: whitesmoke;
    margin: 2%
}