{% extends "logged_out_base.html" %}

{% block main_content %}
<h1>Hello and Welcome to Sunshare!</h1>

<form id="exampleform" action="{{url_for('example_feed')}}" method="post">
  <h2>Enter your zip code to view posts in your area</h2>
  <p><label>Zip Code: <input type="text" name="zipcode" required pattern="[0-9]*"></label></p>
  <p><button type="submit">Submit</button></p>
</form>
<nav>
  <ul>
    <li><a href="{{url_for('signup_page')}}">Sign up</a></li>
    <li><a href="{{url_for('login_page')}}">Sign in</a></li>
  </ul>
</nav>

{% endblock %}