{% extends "base.html" %}

{% block main_content %}

<div class="post-page">

    <div class="post-heading">
        <div class="postpage-title">
            {{post['title']}}
            <div class="post-info">
                <p>at {{post['timestamp']}}</p>
            </div>
        </div>
    </div>

    {% for i in range(num_items) %}
    <!-- post body start -->
    <div class="post-contents">
        <p>{{items[i]['description']}}</p>
        <div class="item-type">Type: {{items[i]['item_type']}}</div>
        <!-- display photo -->
        {% if item_id != '' and src != '' %}
        <p><img src="{{url_for('pic', item_id=items[i]['item_id'])}}" alt="{{post['filename']}}"></p>
        {% endif %}
    </div>
    <!-- post body end -->
    {%endfor%}


</div>

<h2> Comments </h2>

{% for comment in comments %}

<div class="comment">
    <!-- Comment heading start -->
    <div class="comment-heading">
        <!-- Comment info (author, # of votes, time added) start -->
        <div class="comment-info">
            <div class="comment-author">
                {{comment['name']}}
            </div>
            <p>at {{comment['timestamp']}}</p>
        </div>
        <!-- Comment info (author, # of votes, time added) end -->
    </div>
    <!-- Comment heading end -->
    <!-- Comment body start -->
    <div class="comment-body">
        <p>
            {{comment['text']}}
        </p>
    </div>
    <!-- Comment body end -->
</div>

{%endfor%}


<form method="POST" action="{{url_for('post_details', post_id=post['post_id'])}}">

    <fieldset>
        <legend>Add comment:</legend>
        <table>
            <tr>
                <td><label for="comment">Comment:</label></td>
                <td><input id="comment" type="text" name="comment"></td>
            </tr>
        </table>
    </fieldset>

    <p> <input class=button type='submit' value='Add Comment'> </p>

</form>

<a href="{{url_for('message_details', sender_id=sender_id, receiver_id=post['user_id'])}}">
    <input class=button type='button' value='Private Message'>
</a>

{% endblock %}