{% extends "base.html" %}

{% block main_content %}
<h1>Results</h1>

<ul>
    <li><h2>{{post['title']}}</h2>
    <p>{{post['timestamp']}}</p>
    </li>

    {% for i in range(num_items) %}
    <li>
        <p>Item #{{ i+1 }}</p>
        <p>Description: {{items[i]['description']}}</p>
        <p>Item Type: {{items[i]['item_type']}}</p>
            <!-- display photo -->
        {% if item_id != '' and src != '' %}
        <p><img src="{{url_for('pic', item_id=items[i]['item_id'])}}" alt="{{post['filename']}}"></p>
        {% endif %}
    </li>
    {%endfor%}
</ul>

<ul>
    {% for comment in comments %}
    <li>
        <h4>{{comment['text']}}</h4>
        <p>User {{comment['name']}}</p>
        <p>Username {{comment['username']}}</p>
        <p>{{comment['timestamp']}}</p>
    </li>
    {%endfor%}
</ul>


<form method="POST" action="{{url_for('post_details', post_id=post['post_id'])}}">

    <fieldset>
    <legend>Add comment:</legend>
    <table>
    <!-- <tr><td><label for="user_id">User ID:</label></td>
        <td><input id="user_id" type="text" name="user_id"></td></tr> -->
    <tr><td><label for="comment">Comment:</label></td>
        <td><input id="comment" type="text" name="comment"></td></tr>
    </table>
    </fieldset>

    <p> <input class = button type='submit' value='Add Comment'> </p>

</form>

<a href="{{url_for('message_details', sender_id=sender_id, receiver_id=post['user_id'])}}">
    <input class = button type='button' value='Private Message'>
</a>


{% endblock %}