{% extends "logged_out_base.html" %}

{% block main_content %}
<h1>Join Page</h1>

<form id="joinform" action="{{url_for('join')}}" method="post">
    <h2>Join</h2>
    <p><label><input type="text" name="username" required pattern="^\w+$"> Username</label></p>
    <p><label><input type="password" name="password1" required> Password </label></p>
    <p><label><input type="password" name="password2" required> Password again </label></p>
    <p><label><input type="fullname" name="fullname" required> Name </label></p>
    <p><label><input type="email" name="email" required> Email </label></p>
    <p><label><input type="zipcode" name="zipcode" required> ZIP code </label></p>
    <p><button type="submit">Submit</button></p>
</form>

{% endblock %}


{% block jquery_scripts %}
<script>
    $("#joinform").on('submit', function (event) {
        var pw1 = $(this).find('[name=password1]').val();
        var pw2 = $(this).find('[name=password2]').val();
        if (pw1 != pw2) {
            alert("passwords don't match");
        }
    });
</script>
{% endblock %}