<!-- alpha version -->

<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="Jiyoon, Catherine, and Michelle">
    <title>Sunshare Draft</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

{% block current_user %}
<h3>You are logged in as {{session['username']}}</h3>
<form id="logoutform" action="{{url_for('logout')}}" method="post">
  <p><button type="submit">log out</button></p>
</form>
{% endblock %}
            
{% block nav %}
<nav>
  <ul>
    <li><a href="{{url_for('index')}}">Home</a></li>
    <li><a href="{{url_for('index')}}">Profile</a></li>
    <li><a href="{{url_for('search')}}">Search</a></li>
    <li><a href="{{url_for('insert_post')}}">Post</a></li>
    <li><a href="{{url_for('feed')}}">Feed</a></li>
  </ul>
</nav>
{% endblock %}

{% block main_content %}
<h1>Welcome to Sunshare!</h1>
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
  
</body>
</html>
