{% extends "base.html" %}

{% block main_content %}
<h1>Create Post</h1>

<form method="POST" action="{{url_for('insert_post')}}">

    <fieldset>
    <legend>Create Post Here:</legend>
    <table>
    <tr><td><label for="user_id">User ID:</label></td>
        <td><input id="user_id" type="text" name="user_id"></td></tr>
    <tr><td><label for="title">Title:</label></td>
        <td><input id="title" type="text" name="title"></td></tr>
    <tr><td><label for="description">Description:</label></td>
        <td><input id="description" type="text" name="description"></td></tr>
     <tr><td><label for="item_type">Item Type:</label></td>
        <td><select id="item_type" name="item_type">
            <option value="seeds">Seeds</option>
            <option value="supplies">Supplies</option>
            <option value="tools">Tools</option>
            <option value="other">Other</option>
        </select></td></tr>
    </table>
    </fieldset>

    <p> <input class = button type='submit' value='Create Post'> </p>

</form>

{% endblock %}